@model LFS_School_Management_System.Models.Student

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #fontWeight{
        font-weight:600;
    }
    table{
        margin-top: 10px;
    }
    dt {
        box-sizing: border-box;
        padding: 2px;
        text-align: left !important;
    }
    dd{
        box-sizing: border-box;
        padding: 5px;
    }
</style>
<h2>Student's Details</h2>

<div>
    <h4> @Html.DisplayFor(model => model.FirstName) 
    @Html.DisplayFor(model => model.MiddleName) 
    @Html.DisplayFor(model => model.LastName)
    </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MiddleName):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FatherName):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FatherName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnrollmentDate):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnrollmentDate)
        </dd>
  

        <table class="table table-condensed table-responsive">
            <tr>
                  <th class="h4"><b>Course Title</b></th>
                  <th class="h4"><b>Credit Hours</b></th>
                  <th class="h4"><b>Grade</b></th>
            </tr>
            @foreach(var enrollment in Model.Enrollments)
            {
        <tr>
            <td>
                <p>
                    @enrollment.Course.Title
                </p>
            </td>
            <td>
                <p>
                    @enrollment.Course.Credits
                </p>
            </td>
            @if (@enrollment.Grade == null)
            {
        <td id="fontWeight" class="text-danger">
            Not graded yet.
        </td>
            }
                else
                {
        <td id="fontWeight" class="text-success">
            @enrollment.Grade
        </td>
                }

        </tr>
            }
        </table>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentID }, new { @class = "btn btn-success" }) 
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
</p>
