@model IEnumerable<LFS_School_Management_System.Models.Student>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Students</h2>

<p>
    @Html.ActionLink("Add new student", "Create",null,new {@class="btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Student Name")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FatherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnrollmentDate)
        </th>
        <th style="
    text-align: center;
">Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.FirstName)
                @Html.DisplayFor(model => item.MiddleName)
                @Html.DisplayFor(model => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(model => item.FatherName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td style="display: flex; justify-content: space-evenly">
                @Html.ActionLink("Edit", "Edit", new { id = item.StudentID }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Details", "Details", new { id = item.StudentID }, new { @class = "btn btn-info" }) 
                @Html.ActionLink("Delete", "Delete", new { id = item.StudentID }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>

<style>
    table{
        margin-top: 5px;
    }
    td {
        vertical-align: middle !important;
    }
</style>
