@model LFS_School_Management_System.Models.Enrollment

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    dd,dt{
        padding:2px 2px;
    }
</style>
<h2>Unenroll</h2>

<h3>Are you sure you want to Unenroll?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>

            @Html.DisplayNameFor(model => model.Grade)
        </dt>

        <dd>
            @if (Model.Grade == null)
            {
                @Html.DisplayName("Not graded yet")
            }
            @Html.DisplayFor(model => model.Grade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.Title)
        </dd>

        <dt>
            @Html.DisplayName("Student Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.FirstName)
            @Html.DisplayFor(model => model.Student.MiddleName)
            @Html.DisplayFor(model => model.Student.LastName)

        </dd>

        <dt>
            @Html.DisplayName("Lecturer Name")
        </dt>
        @if (Model.LecturerId != null)
        {
            <dd>
                @Html.DisplayFor(model => model.Lecturer.First_Name)
                @Html.DisplayFor(model => model.Lecturer.Last_Name)
            </dd>
 }
        else
        {
            <dd>
               Not assigned yet.
            </dd>
        }


    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Unenroll" class="btn btn-danger" />
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
        </div>
    }
</div>
