@model IEnumerable<LFS_School_Management_System.Models.Enrollment>

@{
    ViewBag.Title = "Enrollment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Enrollment</h2>
<style>
    #fontweight{
        font-weight: 700;
    }
</style>
<p>
    @Html.ActionLink("New Enrollment", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Grade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course.Title)
        </th>
        <th>
            @Html.DisplayName("Student Name")
        </th>
        <th style="
    text-align: center;
">Actions</thstyle=">
    </tr>

@foreach (var item in Model) {
<tr>
    @if (item.Grade == null)
    {
        <td id="fontweight" class="text-danger">
            @Html.DisplayName("Not graded yet")
        </td>

    }
    else { <td  id="fontweight" class="text-success">@Html.DisplayFor(modelItem => item.Grade)</td>}
    <td>
        @Html.DisplayFor(modelItem => item.Course.Title)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Student.FirstName)
        @Html.DisplayFor(modelItem => item.Student.MiddleName)
        @Html.DisplayFor(modelItem => item.Student.LastName)
    </td>

    <td style="display: flex; justify-content: space-evenly">
        @Html.ActionLink("Edit", "Edit", new { id = item.EnrollmentID }, new { @class = "btn btn-primary" }) 
        @Html.ActionLink("Details", "Details", new { id = item.EnrollmentID }, new { @class = "btn btn-info" }) 
        @Html.ActionLink("Delete", "Delete", new { id = item.EnrollmentID }, new { @class = "btn btn-danger" })
    </td>
</tr>
}

</table>
